* {
  margin: 0;
  padding: 0;
}

.long-button {
  height: 100px;
  width: 1160px;
  margin: 0;
  padding: 0;
  border: none;
  align-items: center;
  flex-wrap: wrap;
}

.long-button:hover {
  cursor: pointer;
}

.long-button-list {
  display: flex;
  list-style: none;
}

.truck-icon-item {
  width: 125px;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: #FFE17F;
}

.truck-icon {
  padding: 35px 39px 33.9px 39px;
}

.rare-delivery-link {
  text-transform: uppercase;
  font-weight: bold;
  padding: 40px 125px;
  font-weight: 800;
  font-family: 'Raleway';
  line-height: 23px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  width: 910px;
  height: 20px;
}

.info-icon-item {
  width: 125px;
  height: 100px;
}

.info-icon {
  padding: 30px 42.5px 30px 42.5px;
}
