
/*----------------------------------------------------------------------------------General*/

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*----------------------------------------------------------------------------------Header*/

.page-header {
  color: #000000;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-yellow-background-hide {
  width: 1160px;
  height: 186px;
  background-color:#FFE17F;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 40px;
  text-indent: -9999px;
  display: none;
}

.header-yellow-background-show {
  width: 1160px;
  height: 186px;
  background-color:#FFE17F;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 35px;
  text-indent: -9999px;
}
.transparent-header-menu-wrapper {
  position: absolute;
  margin-top: 20px;
  z-index: 1;
}

.always-visible-part {
  width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


/*----------------------------------------------------------------------------------navigation*/
.logo-link {
  display: inline-block;
  margin-bottom: 21px;
}

.logo-link:hover {
  opacity: 0.6;
}


.logo-link:active {
  opacity: 0.3;
}

.logo-link:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.user-menu-wrapper {
  display: flex;
  width: 1040px;
  align-items: center;
  margin-bottom: 30px;
}

.top-left-navigation-list {
  list-style: none;
  display: flex;
  width: 230px;
  margin-right: 26px;
}

.top-right-navigation-list {
  list-style: none;
  display: flex;
}

.top-navigation {
  display: flex;
}

.search-bar-fieldset {
 display: inline;
 border: none;
 margin-right: 27px;
}

.top-navigation-form {
  display: flex;
}

.top-navigation-search-input {
  width: 359px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  background: transparent url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7 14.3L12.6 11.2C13.5 10 14 8.6 14 7C14 3.1 10.9 0 7 0C3.1 0 0 3.1 0 7C0 10.9 3.1 14 7 14C8.6 14 10 13.5 11.2 12.6L14.3 15.7C14.5 15.9 14.7 16 15 16C15.6 16 16 15.6 16 15C16 14.8 15.9 14.5 15.7 14.3ZM2 7C2 4.2 4.2 2 7 2C9.8 2 12 4.2 12 7C12 9.8 9.8 12 7 12C4.2 12 2 9.8 2 7Z' fill='black'/%3E%3C/svg%3E") no-repeat 16px center;
  padding: 10px;
  padding-left: 42px;
  border-right: none;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.top-navigation-search-input:disabled {
  opacity: 0.3;
}

.top-navigation-search-input:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.top-navigation-button-input {
  width: 160px;
  height: 40px;
  background: none;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.top-navigation-button-input:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.top-navigation-button-input:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}



.top-navigation-button-input:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.top-navigation-button-input:disabled {
  opacity: 0.3;
}

.user-menu-icon {
  margin-right: 3px;
  margin-top: 6px;
}

.navigation-link-top {
  text-decoration: none;
  color: #000000;
  text-align: center;
  position: relative;
}

.navigation-link-top:hover {
  opacity: 0.6;
}

.navigation-link-top:active {
  opacity: 0.3;
}

.navigation-link-top:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 5px;
}

.top-right-navigation-item {
  position: relative;
}

.top-left-navigation-item:not(:last-child) {
  margin-right: 20px;
}

.top-right-navigation-item:not(:last-child) {
  margin-right: 25px;
}

.hide-account-name {
  display: none;
}

.log-out {
  opacity: 0.3;
}

.cart-counter {
  display: flex;
  position: absolute;
  margin-left: -15px;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  font-family: "Rubik", "Arial", sans-serif;
  border-radius: 50%;
  font-size: 14px;
  line-height: 17px;
}

.shopping-cart {
  display: flex;
  padding-left: 15px;
}

.bottom-navigation {
  width: 1040px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-navigation-catalog,
.bottom-right-navigation-list {
  list-style: none;
}

.bottom-right-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom-right-navigation-item:not(:last-child) {
  margin-right: 47px;
}

.navigation-link-bottom-dropdown {
  text-decoration: none;
  color: #000000;
  text-align: center;
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 54px;
  padding-right: 70px;
}

.navigation-link-bottom {
  text-decoration: none;
  color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
}

.catalog-closed {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.3;
}

.catalog-closed:before,
.catalog-closed:after {
  position: absolute;
  top: 24px;
  left: 17px;
  width: 17px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.catalog-closed:before {
  transform: rotate(90deg);
}

.catalog-closed:hover {
  opacity: 1;
}

.catalog-closed:active {
  opacity: 1;
}

.catalog-open {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #000000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 245px;
  margin: auto;
  opacity: 0.3;
}

.catalog-open:before {
  position: absolute;
  top: 24px;
  left: 17px;
  width: 17px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.catalog-open:hover {
  opacity: 1;
}

.catalog-open:active {
  opacity: 1;
}

.navigation-link-bottom-dropdown:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.bottom-navigation {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.bottom-navigation-catalog-dropdown {
  width: 1100px;
  display: flex;
  position: absolute;
  margin-top: 5px;
  margin-left: -60px;
  justify-content: flex-start;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 40px;
  background-color:#FFE17F;

}

.bottom-navigation-catalog-dropdown {
  display: none;
}

.open {
  display: flex;
}

.dropdown-1,
.dropdown-2,
.dropdown-3 {
  list-style: none;
}

.dropdown-1 {
  width: 222px;
  margin-right: 30px;
}

.dropdown-2 {
  width: 211px;
  margin-right: 30px;
}

.dropdown-3 {
  width: 211px;
  margin-right: 30px;
}

.dropdown-1-item,
.dropdown-2-item,
.dropdown-3-item {
  margin-bottom: 15px;
}

.inner-navigation-link-bottom {
  text-decoration: none;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: initial;
  color: #000000;
}

.inner-navigation-link-bottom:hover {
  opacity: 0.6;
}

.inner-navigation-link-bottom:active {
  opacity: 0.3;
}

.inner-navigation-link-bottom:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.navigation-link-bottom:hover {
 opacity: 0.6;
}

.navigation-link-bottom:active {
  opacity: 0.3;
}

.navigation-link-bottom:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.active {
 border-bottom: solid 2px #000000;
}

.active:hover {
  opacity: 0.6;
}

.active:active {
  opacity: 0.3;
}

.dropdown-active {
  text-decoration: none;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: normal;
  text-transform: initial;
  color: #000000;
  border-bottom: solid 1px #000000;
}

.dropdown-active:hover {
  opacity: 0.6;
}

.dropdown-active:active {
  opacity: 0.3;
}

.dropdown-active:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

/*---------------------------Index Page Styles---------------------------*/

.main-index {
  flex-grow: 1;
}

/*----------------------------------------------------------------------------------Slider*/


.slider-section-wrapper {
  width: 1160px;
  margin: 0 auto;
  margin-top: 40px;
}

.slider {
  margin-top: -300px;
}

.slider-yellow-background {
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;
  text-indent: -9999px;
}


.yellow-background {
  width: 1160px;
  height: 300px;
  background-color: #FFE17F;
}

.picture {
  width: 560px;
  margin-right: 40px;
  position: relative;
}

.slider-image {
  margin-top: 150px;
}

.slider-controls {
  position: absolute;
  top: 55%;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 20px;
  height: 60px;
  color:#000000;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  background-image: url("../images/index/right-tall-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-button:active {
  opacity: 0.3;
}

.slider-button:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.slider-next {
  margin-left: 30px;
  transform: rotate(180deg);
}


.information {
  width: 560px;
}

.big-number {
  width: 250px;
  height: 135px;
  font-weight: 700;
  font-size: 180px;
  color: #FFFFFF;
  margin-top: 179px;
  margin-left: 261px;
  text-align: end;
}

.button-more {
  display: flex;
}

.button-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 38px;
}

.button-text:after {
  content:"";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
  min-width: 220px;
  transition: height 0.2s ease-in-out;
}

.button-text:hover:after {
  height: 100%;
}

.button-text:active:after {
  background-color: #FFC700;
}

.button-text:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.button-more:disabled {
  opacity: 0.3;
}

.slide-short-description {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-top: -43px;
  margin-bottom: 29px;
}

.slide-long-description {
  margin-bottom: 60px;
}

.product-details {
  margin-top: 60px;
  display: flex;
  margin-bottom: 26px;
}

.slide-details:not(:last-child) {
  margin-right: 20px;
}

.slide-details-1 {
  font-size: 36px;
  color: #000000;
  margin-bottom: 12px;
}

.slide-details-2 {
  font-size: 16px;
  color: #444444;
}

.details-hidden {
  display: none;
}

.index-columns {
  display: flex;
  align-items: flex-start;
}

.slider-pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.slider-pagination-item {
  height: 8px;
  width: 8px;
  background-color: #FFFFFF;
  border: solid 2px #000000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-pagination-button {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color:rgba(0, 0, 0, 0);
  padding: 2px;
  border: none;
  cursor: pointer;
}

.slider-pagination-item-current {
  height: 8px;
  width: 8px;
  background-color: #000000;
  border: solid 2px #000000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-pagination-item:hover {
  opacity: 0.6;
}

.slider-pagination-item:active {
  opacity: 0.3;
}

.slider-pagination-button:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.slider-pagination-item-current:hover {
  opacity: 0.6;
}

.slider-pagination-item-current:active {
  opacity: 0.3;
}


.slider-pagination-item + .slider-pagination-item {
  margin-left: 20px;
}


/*----------------------------------------------------------------------------------shop-menu-in-yellow-boxes*/

.shop-menu {
  width: 1160px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.shop-menu-list {
  list-style: none;
  -webkit-column-count: 6;
  column-count: 6;
  -webkit-column-gap: 40px;
  column-gap: 40px;
}

li.shop-menu-item {
  height: 253px;
  width: 160px;
}

.yellow-box {
  height: 160px;
  width: 160px;
  background-color: #FFE17F;
  display: block;
  margin-bottom: 33px;
}

.yellow-box:hover {
  background-color: #FFC700;
}

.vr-glasses-icon {
  margin-left: 32px;
  margin-top: 54px;
}

.selfie-stick-icon {
  margin-left: 37px;
  margin-top: 43px;
}

.action-camera-icon {
  margin-left: 44px;
  margin-top: 37px;
}

.fitness-bracelet-icon {
  margin-left: 26px;
  margin-top: 48px;
}

.smart-watch-icon {
  margin-left: 52px;
  margin-top: 32px;
}

.copter-icon {
  margin-left: 14px;
  margin-top: 46px;
}

.shop-menu-link {
  text-decoration: none;
  height: 60px;
  width: 160px;
  letter-spacing: -0.02em;
  color: #000000;
}

.shop-menu-link:active {
  opacity: 0.3;
}

.shop-menu-link:focus-visible + .yellow-box {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.shop-menu-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}

/*----------------------------------------------------------------------------------Additional Services*/
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.servises-section-wrapper-1 {
  width: 1440px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.servises-section-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}



.grey-background {
  width: 100%;
  height: 289px;
  background-color: #F0F0F0;
  margin-top: 102px;
  color: #F0F0F0;
  z-index: -1;
}

/*----------------------------------------------------------------------------------left side*/
.services-list-wrapper {
  display: flex;
  align-items: center;
  height: 319px;
  border-right: 7px solid #000000;
  margin-right: 116px;
}

.services-list {
  list-style: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-item:not(:last-child) {
  margin-bottom: 35px;
}

.button-more-slider {
  display: flex;
  padding-right: 120px;
}

.button-more-slider-last {
  padding-right: 120px;
}

.button-text-slider {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px 15px;
}

.button-text-slider:after {
  content:"";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
  min-width: 160px;
  transition: height 0.2s ease-in-out;
}

.button-text-slider:hover:after {
  height: 100%;
}

.button-text-slider:active:after {
  background-color: #FFC700;
}

.button-text-slider:focus-visible {
  min-width: 160px;
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.services-item-active {
  background-color: #000000;
}

.button-text-slider-active {
  color: #FFE17F;
}

.button-more-slider-last {
  padding-right: 90px;
}



/*----------------------------------------------------------------------------------right side*/

.services-tab-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-header {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 34px;
}

.services-tab-content-text {
  width: 448px;
  margin-right: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.second-tab{
  display: none;
}
.third-tab {
  display: none;
}
/*
Tab visibility toggle:
.first-tab {
  display: none;
}

*/

/*----------------------------------------------------------------------------------About Shop*/
.about-shop {
  width: 1160px;
  margin: 0 auto;
}

/*----------------------------------------------------------------------------------long delivery button*/

.long-button {
  width: 1160px;
  background-color: #F0F0F0;
  border: none;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
  line-height: 23px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.long-button-one {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background-color: #FFE17F;
}

.long-button-three {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
}

.long-button:hover .long-button-one {
  background-color: #FFC700;
}

.long-button:hover .long-button-three g {
  opacity: 1;
}

.long-button:active {
  opacity: 0.3;
}

.long-button:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

/*----------------------------------------------------------------------------------Two About Shop sections*/
.index-columns-2 {
  display: flex;
  margin-bottom: 70px;
}

.about-company-wrapper {
  width: 580px;
}

.fat-line {
  height: 7px;
  width: 84px;
  background-color: #000000;
  text-indent: -9999px;
  margin-bottom: 40px;
}

.about-company-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 48px;
}

.about-company-description {
  width: 497px;
  margin-bottom: 30px;
}

.delivery-partners-list {
  padding-left: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.delivery-partners-item::before {
  content: "\2022";
  color: #FFC700;
  font-weight: 900;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: -1em;
  margin-right: 26px;
}

.delivery-partners-item {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  padding-bottom: 19px;
}

.shop-name {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.phone-number {
  display: block;
  width: 154px;
  color: #444444;
  margin-bottom: 30px;
}

.phone-number:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.open-hours-header {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 15px;
}

.open-hours {
  margin-bottom: 20px;
}

.button-more-info {
  display: flex;
}

.button-text-info {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 20px;
}

.button-text-info:after {
  content:"";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
  min-width: 220px;
  transition: height 0.2s ease-in-out;
}

.button-text-info:hover:after {
  height: 100%;
}

.button-text-info:active:after {
  background-color: #FFC700;
}

.button-text-info:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}


/*----------------------------------------------------------------------------------Newsletter subscription*/
.email-subscription {
  width: 100%;
  background-color: #F0F0F0;
}

.email-subscription-content {
  width: 1440px;
  margin: 0 auto;
}

.subscription-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 64px;
  padding-bottom: 64px;
}

.email-susbcription-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.email-subscription-header {
  width: 348px;
  height: 100px;
  display: inline-block;
  margin-right: 252px;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.email-subscription-description {
  width: 560px;
  height: 90px;
  display: inline-block;
  padding-top: 10px;
}

.email-subscription-section {
  width: 1144px;
  display: flex;
  justify-content: space-between;
}

.subscription-form {
  display: flex;
  align-items: flex-end;
}

.green-check {
  font-weight: 800;
  color: #08AF00;
}

.email-subscription-input {
  height: 55px;
  width: 541px;
  border: none;
  border-bottom: solid 3px #C4C4C4;
  background-color: #F0F0F0;
  padding-left: 16px;
  font-family: "Rubik", "Arial", sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color:rgba(68, 68, 68, 0.5);
}

.email-subscription-input:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
  background-color: #DCDCDC
}

.email-subscription-input:invalid {
  border-bottom: solid 3px #FF3D3D;
}

.email-subscription-input:disabled {

}

.subscribe-input {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  border: solid 3px #C4C4C4;
  background-color: #F0F0F0;
  padding: 6px 35px;
  cursor: pointer;
}

.subscribe-input:hover {
  background-color: #000000;
  color: #FFFFFF;
  border: solid 3px #000000;
}

.subscribe-input:active {
  background-color: #000000;
  color: #4C4C4C;
  border: solid 3px #000000;
}

.subscribe-input:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.subscription-form:disabled {
  opacity: 0.3;
}

/*---------------------------End of Index Page Styles---------------------------*/



/*---------------------------Catalog Page Styles---------------------------*/

.catalog-products {
  background-color: #F0F0F0;
}

.inner-header-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 16px;
}

.inner-header {
  width: 1079px;
  margin: 0 auto;
  margin-bottom: 34px;
}

/*----------------------------------------------------------------------------------Breadcrumbs*/

.breadcrumbs {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.breadcrumbs-item {
  display: inline;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-item::after {
  content: url(../images/catalog/breadcrumb-arrow.svg);
  display: inline-block;
  margin-left: 16px;
  margin-right: 16px;
  opacity: 0.3;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

/*----------------------------------------------------------------------------------Producst section container*/

.page-content-container {
  width: 1440px;
  margin: 0 auto;
}

.page-content-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}



.catalog-section-wrapper {
  background-color: #FFFFFF;
  width: 840px;
  display: flex;
  flex-direction: column;
}

/*----------------------------------------------------------------------------------Filters section*/

.filter-wrapper {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-name {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.section-name-filter {
  width: 200px;
  margin-bottom: 32px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.border-decor {
  border: none;
  border-top: 2px solid #000000;
}

.catalog-filter-group {
  border: none;
  margin-top: 12px;
  margin-bottom: 33px;
}

.catalog-filter-title {
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 20px;
}

/*----------------------------------------------------------------------------------Range slider*/

.range {
  padding-top: 8px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 11px;
  background-color: #AAAAAA;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background: #EBEBEB;
  border: 2px solid #AAAAAA;
}

.range-toggle:active {
  opacity: 1;
  background: #000000;
  border: 2px solid #000000;
}

.range-toggle:focus {
  outline: solid 2px #AF4FFF;
}

.toggle-min {
  top: -8px;
  left: -6px;
}

.toggle-max {
  top: -8px;
  right: -6px;
}


.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: -10px;
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  opacity: 0.3;
}

.range-input {
  width: 30px;
  padding: 2px 2px 0;
  font-family: "Rubik", "Arial", sans-serif;
  line-height: 20px;
  text-align: start;
  font-size: 14px;
  background-color: transparent;
  border: none;
  appearance: textfield;

}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/*----------------------------------------------------------------------------------Other Filters*/
.control,
.catalog-filter-label {
  font-size: 16px;
  color: #000000;
}

.catalog-filter-list {
  line-height: 20px;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.control {
  position: relative;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control .input:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.control:disabled {
  opacity: 0.2;
}

.control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #CCCCCC;
  border-radius: 3px;
  cursor: pointer;
}

.radio-control-mark {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  cursor: pointer;
}

.control-label {
  margin-left: 36px;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark {
  border: 2px solid #000000;
}

.control-input[type="radio"]:checked + .radio-control-mark::before,
.control-input[type="radio"]:checked + .radio-control-mark::after {
  position: absolute;
  left: 4px;
  top: 4px;
  width: 6px;
  height: 6px;
  background-color: #000000;
  border-radius: 50%;
  border: solid 1px #000000;
  content: "";
}

.control-input[type="radio"]:checked + .radio-control-mark {
  border: 2px solid #000000;
}

.control-input:focus-visible + .control-mark {
  outline: solid 2px #AF4FFF;
}

.control-input:focus-visible + .radio-control-mark {
  outline: solid 2px #AF4FFF;
}

/*----------------------------------------------------------------------------------Button*/

.button-more {
  display: flex;
}

.filter-button-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 38px;
  z-index: 1;
}

.filter-button-text:after {
  content:"";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
  min-width: 220px;
  transition: height 0.2s ease-in-out;
}

.filter-button-text:hover:after {
  height: 100%;
}

.filter-button-text:active:after {
  background-color: #FFC700;
}

.filter-button-text:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}


/*----------------------------------------------------------------------------------Sorting section*/

.top-sorting {
  width: 760px;
  color: #000000;
  background-color: #F0F0F0;
  padding: 20px 40px;
}

.sorting-wrapper {
  display: flex;
  justify-content: space-between;
}

.sorting-wrapper .section-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
}

.select-control {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  background-color: #F0F0F0;
  border: none;
  padding-right: 20px;
  background-image: url("../images/index/select-arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 0 center;
  appearance: none;
  cursor: pointer;
}

.select-control:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.sorting-arrows {
  display: flex;
}


.sorting-button {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CCCCCC;
}

.sorting-button:hover {
  color: #7F7F7F;
}

.sorting-button:active {
  color: #000000;
}

.sorting-button:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}


/*----------------------------------------------------------------------------------Product Cards*/

.product-cards-wrapper {
  background-color: #FFFFFF;
  width: 840px;
}

.product-cards-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 44px;
  column-gap: 40px;
  padding: 40px;
  padding-top: 70px;
}

.product-card {
  width: 360px;
  background-color: #FFFFFF;
  position: relative;
  transition: .5s ease;
}

.product-card-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 32px;
}

.product-card-title,
.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.product-card-title {
  max-width: 200px;
}

.product-card-img-wrapper {
  position: relative;
}

.catalog-button {
  position: absolute;
  top: 170px;
  left: 75px;
  z-index: 10;
}
.catalog-button-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px 38px;
}

.catalog-button-text:after {
  content:"";
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  z-index: -1;
  min-width: 220px;
  transition: height 0.2s ease-in-out;
}

.catalog-button-text:active:after {
  background-color: #FFC700;
}

.overlay {
  opacity: 0;
}

.product-card:hover .product-card-link {
  opacity: 0.5;
}

.product-card:hover .overlay {
  opacity: 1;
}

.catalog-button-text:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.new-product {
  width: 60px;
  height: 60px;
  border: solid 2px #000000;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  margin-left: 273px;
  opacity: 0.6;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.hide-new {
  display: none;
}

.card-name-price-box {
  display: flex;
  justify-content: space-between;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.product-card-price {
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #444444;
}

/*----------------------------------------------------------------------------------Show More Button*/

.button-show-more {
  width: 760px;
  height: 55px;
  background-color: #FFFFFF;
  border: solid 3px #E5E5E5;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  margin-bottom: 44px;
  cursor: pointer;
}

.button-show-more:hover {
  border: solid 3px #000000;
}

.button-show-more:active {
  opacity: 0.3;
}

.button-show-more:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

/*----------------------------------------------------------------------------------Pagination*/

.pagination-wrapper {
  background-color: #EBEBEB;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  margin: 0 auto;
  margin-bottom: 78px;
}

.pagination-link-text {
  cursor: pointer;
  text-decoration: none;
}

.pagination {
  list-style: none;
  display: flex;
}

.pagination-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  display: inline-flex;
  padding: 25px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link-text:hover {
  background-color: #DCDCDC;
}

.pagination-link-text:active {
  background-color: #DCDCDC;

}

.pagination-text:active {
  color: #9A9A9A;
}

.pagination-link-text:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}


.pagination-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: #C7C7C7;
  cursor: pointer;
}

.pagination-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.pagination-link:hover {
  color: #444444;
}

.pagination-link:active {
  color: #FBFBFB;
}

.pagination-item:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.pagination-disabled {
  background-color: #EBEBEB;
  color: #B9B9B9;
  cursor: default;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:active {
  color: #B9B9B9;
  cursor: default;
}

/*---------------------------End of Catalog Page Styles---------------------------*/



/*----------------------------------------------------------------------------------Footer*/
.page-footer h2 {
  text-indent: -9999px;
}

.page-footer {
  width: 100%;
  background-color: #444444;
  color: #FFFFFF;
  font-size: 16px;
}

.footer-wrapper {
  width: 1440px;
  margin: 0 auto;
}

.footer-container {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/*----------------------------------------------------------------------------------left side*/
.footer-left {
  width: 239px;
  height: 182px;
  margin: 62px 119px 77px 0;
}

.footer-logo-link {
  display: inline-flex;
  margin-bottom: 35px;
}

.footer-logo-link:hover {
  opacity: 0.6;
}

.footer-logo-link:active {
  opacity: 0.3;
}

.footer-logo-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}


.footer-decor {
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  margin-top: 64px;
}

.footer-address {
  line-height: 20px;
}

/*----------------------------------------------------------------------------------middle*/

.footer-center {
  width: 444px;
  height: 123px;
  text-align: center;
  margin-top: 137px;
  margin-bottom: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-navigation-list,
.social-media-list {
  list-style: none;
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.footer-navigation-link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 4px;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}

.footer-navigation-link:hover {
  color:#FFC700;
  border-bottom: solid 3px #FFC700;
}

.footer-navigation-link:active {
  color:#FFC700;
  border-bottom: solid 3px #FFC700;
  opacity: 0.6;
}

.footer-navigation-link:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.social-media-list {
  display: flex;
}

.social-link {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social-link:hover {
  background-color: #FFC700;
  opacity: 1;
}

.social-link:active .social-media-icon {
  opacity: 0.3;
}

.social-link:focus-visible:not(.social-media-icon) {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
  opacity: 1;
}

.social-media-item:not(:last-child) {
  margin-right: 15px;
}

/*----------------------------------------------------------------------------------right side*/

.footer-right {
  width: 175px;
  height: 116px;
  margin: 140px 0 65px 183px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-phone-number {
  color: #FFFFFF;
  margin-bottom: 63px;
}

.footer-phone-number:hover {
  color:#FFC700;
}

.footer-phone-number:active {
  color:#FFC700;
  opacity: 0.3;
}

.html-academy-logo {
  color: #FFC700;
}

.footer-phone-number:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.html-academy-logo:hover {
  color: #FFFFFF;
}

.html-academy-logo:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.html-academy-footer-link:focus {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

/*----------------------------------------------------------------------------------Popovers and modal windows*/

.popover {
  position: absolute;
  top: 33px;
  right: -80px;
  box-sizing: border-box;
  width: 320px;
  background-color: #000000;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: none;
}

.popover-open {
  display: block;
}

.popover::before {
  width: 20px;
  height: 20px;
  content: "";
  background-color: #000000;
  position: absolute;
  top: -5px;
  left: 145px;
  transform: rotate(45deg);
}

.popover-close-button {
  width: 11px;
  height: 11px;
  background: none;
  position: absolute;
  left: 290px;
  border: none;
  cursor: pointer;
}

.popover-close-button:hover {
  opacity: 0.6;
}

.popover-close-button:active {
  opacity: 0.3;
}

.popover-close-button:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.product-line {
  padding: 20px;
  position: relative;
  display: flex;
}

.total {
  padding: 20px;
  background-color: #1A1A1A;
  display: flex;
  justify-content: space-between;
}

.product-link {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.product-link:hover {
  opacity: 0.6;
}

.product-link:active {
  opacity: 0.3;
}

.product-link:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.cart-image {
  margin-right: 23px;
}

.cart-text {
  display: inline-block;
  max-width: 160px;
}

.popover-button {
  padding: 20px;
}

.open-cart-button {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 21px 14px 21px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.open-cart-button:hover {
  background-color: #FFE17F;
}

.open-cart-button:active {
  background-color: #FFE17F;
  color: #B39E59;
}
.open-cart-button:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.open-cart-button:disabled {
  opacity: 0.3;
}

/*----------------------------------------------------------------------------------Modal Window*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
  z-index: 2;
  color:#000000;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
  padding: 70px;
  box-sizing: border-box;
}

.modal-delivery {
  width: 920px;
  border: solid 10px #000000;
}

.first-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.modal-title {
  font-family: "Raleway", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  display: inline-block;
}

.modal-close-button {
  width: 26px;
  height: 26px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-close-button:focus-visible {
  outline: solid 2px #AF4FFF;
}

.second-group {
  display: flex;
  margin-bottom: 42px;
}

.field-group {
  display: inline-flex;
  flex-direction: column;
  font-style: normal;
}

.group-1 {
  margin-right: 40px;
}

.field-title {
  font-family: "Rubik","Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.input {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
  background-color: #F0F0F0;
  border: none;
  color: #000000;
}

.input:hover {
  background-color: #DCDCDC;
}

.input:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.input:invalid {
  border: solid 2px #FF3D3D;
}

.input:invalid + .input-message {
  color: #FF3D3D;
}

.input:disabled {
  opacity: 0.3;
}

.input-name {
  width: 290px;
  background: transparent url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 12h13c-.2-2.6-2.1-4.8-4.7-5.5 1-.6 1.7-1.7 1.7-3C10 1.6 8.4 0 6.5 0S3 1.6 3 3.5c0 1.3.7 2.4 1.7 3C2.1 7.2.2 9.4 0 12Z' fill='%23B3B3B3'/%3E%3C/svg%3E") no-repeat 320px center;
  background-color: #F0F0F0;
  padding-right: 50px;
}

.input-email {
  width: 290px;
  background: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.6 8c-.4 0-.6-.1-1-.3L0 4v7c0 .6.4 1 .9 1h13.2c.6 0 .9-.4.9-1V4L8.5 7.7c-.4.2-.6.3-.9.3Zm6.5-8H.9C.4 0 0 .5 0 1v.8L7.5 6 15 1.8V1c0-.5-.4-1-.9-1Z' fill='%23B3B3B3'/%3E%3C/svg%3E") no-repeat 320px center;
  background-color: #F0F0F0;
  padding-right: 50px;
}

.third-group {
  display: flex;
  margin-bottom: 42px;
}

.input-message {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.input-text {
  resize: none;
  width: 500px;
}

.group-3 {
 margin-right: 40px;
}

.group-4 {
  position: relative;
}

.tooltip {
  position: absolute;
  left: 120px;
  top: -3px;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  background-color: #FFE17F;
  border: none;
  border-radius: 50%;
  display: block;
}

.tooltip-toggle:focus {
  outline: none;
}

.tooltip-icon {
  width: 100%;
  display: block;
}

.tooltip-text {
  font-size: 16px;
  line-height: 20px;
  width: 200px;
  box-sizing: border-box;
  padding: 19px;
  background: #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  position: absolute;
  top: 37px;
  left: -140px;
  display: none;
}

.tooltip-text::before {
  width: 20px;
  height: 20px;
  content: "";
  background-color: #000000;
  position: absolute;
  top: -5px;
  left: 143px;
  transform: rotate(45deg);
}
.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.counter {
  display: inline-flex;
}

.counter-button {
  padding: 0;
  margin: 0;
  width: 60px;
  background-color: #F0F0F0;
  border: none;
}

.counter-button:hover {
  cursor: pointer;
  color: #717171;
}

.counter-button:active {
  color: #A8A8A8;
}

.counter-button:focus {
  outline: solid 2px #AF4FFF;
}

.counter-icon {
  width: 100%;
  vertical-align: middle;
}

.input-number {
  width: 20px;
  text-align: center;
}

.info {
  position: absolute;
}


.modal-button-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  position: relative;
}

.modal-button-text {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px 30px;
  z-index: 1;
}

.yellow-back {
  display: inline-block;
  width: 100%;
  height: 8px;
  background-color: #FFE17F;
  position: absolute;
  transition: height 0.2s ease-in-out;
}

.modal-button-text:hover + .yellow-back {
  height: 100%;
}

.modal-button-text:active + .yellow-back {
  background-color: #FFC700;
}

.modal-button-text:focus-visible {
  outline: solid 2px #AF4FFF;
  outline-offset: 1px;
}

.modal-button-more:disabled {
  opacity: 0.3;
}

.modal-container-close {
  display: none;
}
/*----------------------------------------------------------------------------------The End :')*/
